<div class="container mt-4">
  <h1 class="text-center mb-5">Confused? Easy way to compare cars</h1>
  <div class="row">
     <div class="col-sm-12 px-0 addCar">
        <ul>
           <li class="addCar__list" id="car1" *ngFor="let cardetails of getCarModelArr; let i = index;">
              <!-- {{this.getCarModelArr.model}} -->
              <div class="card addCar__brand">
                 <div class="row m-0 flex-column" (click)="selectCar(i)">
                    <ng-template #cardetailsImage>
                       <img
                          class="card-img-top"
                          src={{cardetails.img}}
                          alt="Card image"
                          style="width: 100%;"/>
                    </ng-template>
                    <div class="addCar__brand--image mb-4" *ngIf="cardetails.img === ''; else cardetailsImage">
                    </div>
                    <div class="card-body p-0 select-carmodel">
                       <div *ngIf="cardetails.model ===''; else selectList">
                          <p>Select Brand/Model</p>
                       </div>
                       <div *ngIf="cardetails.varient ===''; else selectList2">
                          <p>Select Varient</p>
                       </div>
                       <ng-template #selectList>
                          <p>{{ cardetails.model }}</p>
                       </ng-template>
                       <ng-template #selectList2>
                          <p>{{ cardetails.varient }}</p>
                       </ng-template>
                    </div>
                 </div>
                 <div class="addCar__selectTab" *ngIf="showTab === i">
                    <div class="addCar__selectTab--head"></div>
                    <div class="addCar__selectTab--listing">
                       <ul>
                          <li class="addCar__brand__list">
                             <div class="addCar__brand__name">
                                <ul class="mb-3">
                                   <li>
                                      <div class="custom-tab">
                                         <ul class="custom-tab-list">
                                            <li
                                            *ngFor="let tabList of tabLists"
                                            [class.active]="selectTabLists === tabList"
                                            >
                                            <a (click)="selectTabLists = tabList">
                                            {{ tabList }}
                                            </a>
                                            </li>
                                         </ul>
                                         <div class="tab-content">
                                            <div
                                               *ngIf="selectTabLists === tabLists[0]"
                                               class="tab-pane active"
                                               id="one"
                                               >
                                               <h6>
                                                  {{ carsList.cars.brandName }}
                                               </h6>
                                               <div
                                               class="addCar__brand--list"
                                               *ngFor="let carModel of carsList.cars.models"
                                               (click)="getCarsName(carModel, i)"
                                               >
                                               {{ carModel.name }}
                                            </div>
                                         </div>
                                         <div
                                            *ngIf="selectTabLists === tabLists[1]"
                                            class="tab-pane active"
                                            id="two"
                                            >
                                            <h6>
                                               Car varient
                                            </h6>
                                            <div *ngFor="let varient of cardetails.varient" (click)="getCarsVarient(varient, i)">
                                            {{ varient }}
                                         </div>
                                      </div>
                             </div>
                    </div>
                    </li>
                    </ul>
                 </div>
                 </li>
                 </ul>
              </div>
     </div>
  </div>
  </li> 
  </ul>
</div>
<!--addCar section ends -->
<div class="col-sm-12 text-center mt-5">
  <button type="button" class="btn btn-primary" (click)="compareCars()">Compare</button>
</div>
</div>
</div>

<!-- *ngFor="let data of filteredData" -->

<div class="container mt-5 filteredData">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <h1>
          Maruti Baleno vs Maruti Baleno
          <!-- <span>{{data.name}}</span> -->
        </h1>  
        <p>The Maruti Baleno price ranges from Rs 5.63 - 8.96 Lakh. and the Baleno Automatic starts at Rs 7.76 Lakh. As far as mileage is concerned, depending upon the fuel type and variant, the Baleno has a mileage of 19.56 kmpl to 23.87 kmpl.</p>
      </div>

      <div class="row">
        <div class="col-sm-12 tabble-responsive">
          <table class="table table-striped text-center">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Delta</th>
                <th>Sigma</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Fast Charging</td>
                <td>No</td>
                <td>yes</td>
              </tr>
              <tr>
                <td>Mileage (ARAI)</td>
                <td>21.01 kmpl</td>
                <td>23.87 kmpl</td>
              </tr>
              <tr>
                <td>Central Locking</td>
                <td>No</td>
                <td>yes</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
    </div>
  </div>
</div>