<div class="container cars-wrapper">
  <h1 class="text-center mb-5">Confused? Easy way to compare cars</h1>
  <div class="row">
    <div class="col-sm-12 px-0 addCar">
      <ul>
        <li
          class="addCar__list" 
          *ngFor="let cardetails of getCarModelArr; let i = index"
        >
          <!-- {{this.getCarModelArr.model}} -->
          <div class="card addCar__brand">
            <div class="row m-0 flex-column" (click)="selectCar(i)">
              <ng-template #cardetailsImage>
                <img
                  class="card-img-top"
                  src="{{ cardetails.img }}"
                  alt="Card image"
                  style="width: 100%;"
                />
              </ng-template>
              <div
                class="addCar__brand--image mb-4"
                *ngIf="cardetails.img === ''; else cardetailsImage"
              ></div>
              <div class="card-body p-0 select-carmodel">
                <div *ngIf="cardetails.model === ''; else selectList">
                  <p>Select Brand/Model</p>
                </div>
                <div *ngIf="cardetails.selectedVarient == ''; else selectList2">
                  <p>Select Varient</p>
                </div>
                <ng-template #selectList>
                  <p>{{ cardetails.model }}</p>
                </ng-template>
                <ng-template #selectList2>
                  <p>{{ cardetails.selectedVarient ? cardetails.selectedVarient : cardetails.model }}</p>
                </ng-template>
              </div>
            </div>
            <div class="addCar__selectTab" *ngIf="showTab === i">
              <div class="addCar__selectTab--head"></div>
              <div class="addCar__selectTab--listing">
                <ul>
                  <li class="addCar__brand__list">
                    <div class="addCar__brand__name">
                      <ul class="mb-3">
                        <li>
                          <div class="custom-tab">
                            <ul class="custom-tab-list">
                              <li
                                *ngFor="let tabList of tabLists"
                                [class.active]="selectTabLists === tabList"
                              >
                                <a (click)="selectTabLists = tabList" 
                                [ngClass]="{'enable-click' : (selectTabLists === 'Carmodel')}">
                                  {{ tabList }}
                                </a>
                              </li>
                            </ul>
                            <div class="tab-content">
                              <div
                                *ngIf="selectTabLists === tabLists[0]"
                                class="tab-pane active"
                                id="one"
                              >
                                <ng-container *ngFor="let carList of carsList">
                                  <h6>
                                    {{ carList.brandName }}
                                  </h6>
                                  <div
                                    class="addCar__brand--list"
                                    *ngFor="let carModel of carList.models"
                                    (click)="getCarsName(carModel, i)"
                                  >
                                    {{ carModel.name }}
                                  </div>
                                </ng-container>
                              </div>
                              <div
                                *ngIf="selectTabLists === tabLists[1]"
                                class="tab-pane active"
                                id="two"
                              >
                                <h6>
                                  Car varient
                                </h6>
                                <div class="addModel__brand--list"
                                  *ngFor="let varient of cardetails.varient"
                                  (click)="getCarsVarient(varient, i)"
                                >
                                  {{ varient }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!--addCar section ends -->

    <div class="col-sm-12 text-center mt-5">
      <button type="button" class="btn btn-primary" (click)="compareCars()">
        Compare
      </button>
    </div>
  </div>
  <!--row ends here-->
</div>
