<div class="container mt-4">
  <h1 class="text-center mb-5">Confused? Easy way to compare cars</h1>
  <div class="row">
     <div class="col-sm-12 px-0 addCar">
        <ul>
           <li class="addCar__list" id="car1" *ngFor="let cardetails of getCarModelArr; let i = index;">
              <!-- {{this.getCarModelArr.model}} -->
              <div class="card addCar__brand">
                 <div class="row m-0 flex-column" (click)="selectCar(i)">
                    <ng-template #cardetailsImage>
                       <img
                          class="card-img-top"
                          src={{cardetails.img}}
                          alt="Card image"
                          style="width: 100%;"/>
                    </ng-template>
                    <div class="addCar__brand--image mb-4" *ngIf="cardetails.img === ''; else cardetailsImage">
                    </div>
                    <div class="card-body p-0 select-carmodel">
                       <div *ngIf="cardetails.model ===''; else selectList">
                          <p>Select Brand/Model</p>
                       </div>
                       <div *ngIf="cardetails.varient ===''; else selectList2">
                          <p>Select Varient</p>
                       </div>
                       <ng-template #selectList>
                          <p>{{ cardetails.model }}</p>
                       </ng-template>
                       <ng-template #selectList2>
                          <p>{{ cardetails.varient }}</p>
                       </ng-template>
                    </div>
                 </div>
                 <div class="addCar__selectTab" *ngIf="showTab === i">
                    <div class="addCar__selectTab--head"></div>
                    <div class="addCar__selectTab--listing">
                       <ul>
                          <li class="addCar__brand__list">
                             <div class="addCar__brand__name">
                                <ul class="mb-3">
                                   <li>
                                      <div class="custom-tab">
                                         <ul class="custom-tab-list">
                                            <li
                                            *ngFor="let tabList of tabLists"
                                            [class.active]="selectTabLists === tabList"
                                            >
                                            <a (click)="selectTabLists = tabList">
                                            {{ tabList }}
                                            </a>
                                            </li>
                                         </ul>
                                         <div class="tab-content">
                                            <div
                                               *ngIf="selectTabLists === tabLists[0]"
                                               class="tab-pane active"
                                               id="one"
                                               >
                                               <h6>
                                                  {{ carsList.cars.brandName }}
                                               </h6>
                                               <div
                                               class="addCar__brand--list"
                                               *ngFor="let carModel of carsList.cars.models"
                                               (click)="getCarsName(carModel, i)"
                                               >
                                               {{ carModel.name }}
                                            </div>
                                         </div>
                                         <div
                                            *ngIf="selectTabLists === tabLists[1]"
                                            class="tab-pane active"
                                            id="two"
                                            >
                                            <h6>
                                               Car varient
                                            </h6>
                                            <div *ngFor="let varient of cardetails.varient" (click)="getCarsVarient(varient, i)">
                                            {{ varient }}
                                         </div>
                                      </div>
                             </div>
                    </div>
                    </li>
                    </ul>
                 </div>
                 </li>
                 </ul>
              </div>
     </div>
  </div>
  </li> 
  </ul>
</div>
<!--addCar section ends -->
<div class="col-sm-12 text-center mt-5">
  <button type="button" class="btn btn-primary" (click)="compareCars()">Compare</button>
</div>
</div>
</div>

<div class="container mt-5 text-center filteredData" *ngIf="filteredData.length >= 2">
  <div class="row">
    <div class="col-sm-3 px-0 text-left">
      <div class="row">
        <div class="col-sm-12 px-0 table-row-head">
          <h3>&nbsp;</h3>  
          <div class="table-row">
            Car Name
          </div>
          <div class="table-row">
            Car Model
          </div>
          <div class="table-row">
            engine type
          </div>
          <div class="table-row">
            fast charging
          </div>
          <div class="table-row">
            Car mileage
          </div>
          <div class="table-row">
            Car varient
          </div>
        </div>
      </div>
    </div><!--col-sm-3 ends here-->
    <ng-container *ngFor="let carData of filteredData">
     
    <div class="col px-0">
        <h3>{{carData.name}}</h3>  
     
      <div class="row">
        <div class="col-sm-12 px-0">
          <div class="table-row">
            {{carData.name}}
          </div>
          <div class="table-row">
            {{carData.model}}
          </div>
          <div class="table-row">
            {{carData.engine}}
          </div>
          <div class="table-row">
            {{carData.charging}}
          </div>
          <div class="table-row">
            {{carData.mileage}}
          </div>
          <div class="table-row">
            {{carData.varient}}
          </div>
        </div>
      </div>
    </div><!--col-sm-3 ends here-->
  </ng-container>
  </div>
</div>