.selectedCars{
    color: #444444;
    // background: #fff;
    padding: 20px;
    text-transform: capitalize;

    .sticky-row{
        position: sticky;
        top: 0;
        padding: 20px;
        background: #fff;
        margin-bottom: 10px;
        font-weight: bold;
        box-shadow: 0 1px 3px rgba(36, 39, 44, 0.15);

        .fake-div{
            max-width: 250px;
        }
    }

    h1{
        color: #444444;
    }

    .feature-card{
        -webkit-box-shadow: 0 1px 3px rgba(36,39,44,.15);
        box-shadow: 0 1px 3px rgba(36,39,44,.15);
        background: #fff;
        margin: 0 0 50px 0;
        padding: 30px;

        .feature-card-row{
            width: 100%;
            display: flex;
        }
    }

    table{
        tr{
            td{
                &:nth-of-type(1){
                    width: 250px;
                }
            }
        }
    }
}

.addCar{
    color: #444444;
    >ul{
        display: flex;
        justify-content: space-around;
    }

    .addCar__list{
        position: relative;
        max-width: 250px;
        min-width: 250px;
        width: 25%;
        text-align: left;
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba(36,39,44,.15);
    
        img{
            width: 100%;
        }
    }
    .addCar__brand{

        .select-carmodel{
            >p{
                padding: 7px 15px;
                width: 100%;
                color: #ccc;
                border-color: #ccc;
                background: #fff;
                cursor: pointer;
                margin: 0;
                border: 1px solid #f4f4f4;
                border-radius: 2px;
            }
        }

    }
}
.compare-car-again{
    text-decoration: none;
    background: #42a6d3;
    border-color: #42a6d3;
    padding: 15px 35px;
    font-size: 1.3rem;
    box-shadow: 0 0 black;
    border: 0;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    &:hover{
        background: rgba(66, 166, 211, 0.8);
        border-color: rgb(66, 166, 211);
        outline:none;
    }
    &:focus{
        background: rgba(66, 166, 211, 0.8);
        border-color: rgb(66, 166, 211);
        outline:none;
    }
    &:active{
        background: rgba(66, 166, 211, 0.8);
        border-color: rgb(66, 166, 211);
        box-shadow: none;
    }
}