/* You can add global styles to this file, and also import other style files */
html, body{
    background: #42a6d3;
    color:#fff
}
.row{
    margin: 0;
}
ul{
    padding: 0;
    list-style: none;
}